name: flutter_laravel_form_validation
description: A simplified dart extension based flutter form validation . Inspired by Laravel Validation.
version: 1.0.1
homepage: https://github.com/abiodundotdev/flutter_laravel_form_validation

environment:
  sdk: ">=2.16.1 <3.0.0"
  flutter: ">=1.17.0"

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^1.0.0